*{margin: 0;padding:0;}
ul,li{list-style: none;}
$react-button-options: (
  primary:    #387ef5,
  secondary:  rgb(50, 219, 100),
  test: #ff9500
)!default;


@import 'components/style.scss';

.hello-react-button{
  color:#F00;
  padding:100px 20px;
  position: relative;
}


.blank-20{
  height:20px;
}
